<div class="col-12 p-0">
  <b class="text-secondary mb-2 d-inline-block text-uppercase">Qty</b>
  <div class="input-group">
    <div class="input-group-prepend btn-group">
      <button [disabled]="disabledDecrement" type="button" (click)="decrement($event)" class="btn btn-sm btn-primary">-</button>
      <span class="font-weight-bold input-group-text">{{ value }}</span>
      <button [disabled]="disabledIncrement" type="button" (click)="increment($event)" class="btn btn-sm btn-primary">+</button>
    </div>
  </div>
</div>