.cart-item {
  &-img {
    max-height: 150px;
    object-fit: scale-down;
    height: 100%;
    width: 150px;
    overflow: hidden;
    object-position: top left;
    position: relative;
  }
}

.product-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.selected-item {
  background-color: #bdd7ee;
}
