@import "node_modules/bootstrap/scss/bootstrap";

:host {
  @extend .col-6, .col-lg-4, .pl-0, .mb-2;

  .card {
    // min-height: 24rem;

    .product-image {
      max-height: 150px;
      width: 100%;
      object-fit: scale-down;
    }

    .product-price {
      color: #00000099;
    }

    // .product-description {
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // line-clamp: 2;
    // }
  }

  .sold-out {
    @extend .position-absolute,
      .d-flex,
      .flex-column,
      .justify-content-center,
      .align-items-center,
      .h-100,
      .w-100;
    z-index: 15;

    &-background {
      @extend .position-absolute, .w-100, .h-100, .bg-light;
      opacity: 0.8;
    }

    h4 {
      position: relative;
      z-index: 10;
    }

    top: 0;
    left: 0;
  }
}
